@import './partials/colors';
@import './partials/breakpoints';
@import './partials/fonts';

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  outline: 0;
}

ul {
  list-style: none;
}

p, input, button {
  font-size: 14px;
}

a {
  text-decoration: none;
}

:visited {
  color: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: normal;
  color: $black;
}

p, input, button, a, select, option, textarea, label, span {
  font-family: $font-primary;
  color: $black;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.full-height {
  height: calc(100vh - 50px);
}

.full-width {
  width: 100%;
}
